@import url("https://fonts.googleapis.com/css2?family=Gilroy:wght@500;700&display=swap");
body {
    margin: 0;
    line-height: normal;
}
:root {
    /* fonts */
    --font-gilroy: Gilroy;

    /* font sizes */
    --font-size-lg: 18px;
    --font-size-xl: 20px;

    /* Colors */
    --color-white: #fff;
    --color-darkslategray-100: #253746;
    --color-darkslategray-200: rgba(37, 55, 70, 0.65);

    /* Border radiuses */
    --br-3xs: 10px;
}

*{
    font-family: var(--font-gilroy);
}
.image2Icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* width: 100%;
    height: auto; */
}
.backGroundChild {
    background: linear-gradient(
        243.34deg,
        rgba(255, 255, 255, 0),
        #fff 71.35%,
        #fff
    );
}
.backGround,
.backGroundChild,
.loginPartChild {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.loginPartChild {
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 24px 19px 17.1px rgba(0, 0, 0, 0.09);
    width: 100%;
    height: 100%;
}
.loginPartItem {
    position: absolute;
    top: 3.05vh; /* Converted from 44px */
    left: 41.15vw; /* Converted from 593px */
    width: 0.28vw; /* Converted from 4px */
    height: 65.62vh; /* Converted from 671px */
}
.ab131D9f643638a05C8bd6056eIcon {
    /* position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 316px;
    object-fit: cover; */
    position: absolute;
    top: 12%; 
    left: 0;
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    overflow: hidden; 
    max-width: fit-content;
    }

.rAK {
    top: 0;
    left: 4px;
}
.leftSide,
.rAK,
.v11 {
    position: absolute;
}
.v11 {
    top: 80.39%;
    left: 50px;
    font-size: var(--font-size-lg);
    font-weight: 500;
    display: inline-block;
    width: 142px;
    height: 21px;
}
.leftSide {
    top: 50px;
    left: 162px;
    width: 258px;
    height: 100%;
}
.login1 {
    position: absolute;
    top: 0;
    left: 179px;
    font-size: 36px;
    display: inline-block;
    color: var(--color-darkslategray-100);
    text-align: center;
    width: 92px;
}
.phoneNumberChild, #phoneNumber, #mpin{
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 2px solid var(--color-darkslategray-100);
    box-sizing: border-box;
    /* width: 454px;
    height: 49px; */
    width: 32.65vw;
    height: 7.54vh;
}
.enterThePin,
.phoneNumber{
    position: absolute;
    top: 90px;
    left: 0;
    width: 450px;
    height: 45px;
}
.enterThePin{
    top: 15px;
    left: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 136px;
    height: 17px;
}

input[placeholder]{
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-darkslategray-200);
    top: 15px;
    left: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 136px;
    height: 17px;
    padding-left: 20px;
    font-family: var(--font-gilroy);
}
.loginButtonChild,
.mpin{
    position: absolute;
    top: 165px;
    left: 0;
    width: 450px;
    height: 45px;
}
.loginButtonChild {
    top: 0;
    border-radius: 16px;
    background-color: var(--color-darkslategray-100);
    width: 150px;
    height: 35px;
    color: #fff;
}
.login2 {
    position: absolute;
    /* top: 7px; */
    left: 150px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 50px; */
}
.loginButton {
    position: absolute;
    top: 125px;
    /* left: 150px; */
    box-shadow: 0 4px 4px rgba(37, 55, 70, 0.2);
    font-size: var(--font-size-lg);
    color: var(--color-white);
}
.rightSide {
    position: absolute;
    /* top: 242px;
    left: 667px; */
    top: 25%;
    left: 56%;
    width: 450px;
    height: 275px;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-darkslategray-200);
}
.loginPart {
    position: absolute;
    top: 10%;
    left: 126px;
    width: 82.5%;
    height:  79.12%;
}
.login {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    font-size: 40px;
    color: var(--color-darkslategray-100);
    font-family: var(--font-gilroy);
}

/* loading buffer */
.spinner {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #fffdfd; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
