.header-container {
    z-index: 5;
    font-family: "GilroyMedium";
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 5vw;
    height: auto;
    background: white;
    display: block;
    position: absolute;
    left: 5px;
    top: 5px;
    border-radius: 10px;
}

.horizontal-line {
    border-top: 1px solid black;
    width: 3vw;
    margin: 0px auto;
}

/* Style each header item */
.header-item {
    display: flex;
    flex-direction: column;
    margin: 2vh auto;
    cursor: pointer;
}

.header-item h5 {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 6px;
}

/* Style the images if needed */
.header-item img {
    width: 5vw;
    margin: auto;
    height: 25px;
}

.navbar-items {
    display: none;
}

#toggleBtn {
    display: block;
    margin: 10px auto;
    padding: 8px;
    background-color: #ffffff;
    color: white;
    border: none;
    cursor: pointer;
}
