.header-container {
    display: flex;
    flex-direction: column;
    font-family: "GilroyMedium";
    width: 5vw;
    margin: 2vh 0vw;
}

.horizontal-line {
    border-top: 1px solid black;
    width: 3vw;
    margin: 0px auto;
}

/* Style each header item */
.header-item {
    display: flex;
    flex-direction: column;
    margin: 2vh auto;
    cursor: pointer;
}

.header-item h5 {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 6px;
}

/* Style the images if needed */
.header-item img {
    width: 5vw;
    margin: auto;
    height: 25px;
}
